
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;400;600&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;400;600&family=Raleway:wght@400;700&display=swap');


body {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 400;
    color: hsl(243, 87%, 12%);
}

a:hover {
    text-decoration: none;
}

h2 {
    font-weight: 700;
    font-family: 'Bai Jamjuree', sans-serif;
    font-family: 'Raleway', sans-serif;
}

h3 {
    color: hsl(240, 75%, 98%);
    font-weight: 400;
}

/* Columns */
.first-column {
    padding: 6% 0 5%;
}

.third-column {
    padding: 6% 5% 5%;
}

.fourth-column {
    padding: 6% 5% 5%;
}

/* Container-Divs */
.intro {
    margin-top: 60px;
    padding: 3% 5% 7%;
}

.second-cont {
    padding: 3% 5% 7%;
    background: hsl(240, 75%, 98%);
}

.third-cont {
    margin-top: 20px;
    width: 80%;
    background: #fff;
    border-radius: 0.5rem;
}

.fourth-cont {
    background: hsl(238, 22%, 44%);
    color: hsl(0, 0%, 75%);
}

.fifth-cont {
    background: hsl(243, 87%, 12%);
    color: hsl(0, 0%, 75%);
}

.sixth-cont {
    padding: 2% 4% 7%;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.875rem;
}

  .info div {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    margin: 0.5rem 0;
}

.attribution {
    height: 60px;
    text-align: center;
    margin: 10px;
}

/* images  */
.first-ilustration {
    width: 100%;
}

.second-illustration {
    width: 100%;
}

.bg-image {
    width: 100%;
}

.avatar {
    width: 15%;
    border-radius: 100%;
    margin: 10px;
}

.logo { 
    display: block;
    padding: 35px;
}

/* Icons */
.icon-quotes {
    margin: 10px;
}

.col-lg-3 a {
    border-radius: 1.5rem;
}

/* Paragraphs */
.first-text {
    margin: 10px;
}

.text {
    margin-top: 30px;
}

.name {
    display: inline;
    font-weight: 400;
}

.avatar-name {
    width: 160px;
}

.kyle h5 {
    margin-bottom: 0px;
}

.fylo {
    color: hsl(170, 45%, 43%);
    border-bottom: 1px solid hsl(170, 45%, 43%);
}

.fylo:hover {
    color: hsl(170, 57%, 55%);
    text-decoration: none; 
}

/* links */
.links {
    color: hsl(0, 0%, 75%);
}

.links-nav {
    color: hsl(243, 87%, 12%);
}

/* Form */
.form-control {
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin-right: 10px;
    display: inline;
}

.control {
    display: inline;
}

.email-address {
    width: 100%;
}

.email-address2 {
    width: 60%;
}

/* ids */
#email {
    width: 70%;
    margin-top: 15%;
}

/* Buttons */
.first-button {
    width: 35%;
}

.second-button {
    margin-top: 10px;
    width: 50%;
}

.social-icon {
    margin: 5px;
    padding: 0.375rem 0.7rem;
}

.face {
    padding: 0.375rem 0.9rem;
}

.twit {
    padding: 0.375rem 0.6rem;
}

.social-icon:hover {
    background-color: hsl(243, 87%, 12%);
    color: hsl(224, 93%, 58%);
    border-color: hsl(224, 93%, 58%);
}

@media (max-width: 991px) {
    body {
        text-align: center;
    }

    #footer {
        text-align: left;
    }

    .logo {
        margin-left: -15px;
    }

    .second-button {
        width: 100%;
    }

    .email-address2 {
        display: block;
        width: 100%
    }

    .first-button {
        width: 100%;
        margin-top: 12px;
    }

    .third-cont {
        text-align: left;
    }

    .fourth-column {
        padding-top: 0;
    }
}

@media (max-width: 850px) {
    .third-cont {
        margin: 30px 80px;
    }
}

@media (max-width: 500px) {
    .third-cont {
        margin: 30px 45px;
    }

    .logo1 {
        width: 22%;
    }

    .left {
        text-align: left;
        color: hsl(238, 22%, 44%);
    }

    .stay {
        font-weight: 700;
        font-size: 1.5rem;
        margin-top: 20px;
    }

    .sixth-cont {
        color: white;
    }

    .third-column {
        color: white !important;
    }

    .links {
        color: white;
    }

    .nav-link {
        font-size: 13.7px !important;
        padding-right: none !important;
    }
}




